<header>
    <h1>Product Page</h1>

    <form method="GET" action="/products">

        <input type="text" name="search" placeholder="Search Products..." value="<%= searchQuery %>">
        <button type="submit">Search</button>

    </form>

</header>
