<%- include('partials/header') %>

<main>
    <h2>Our Products</h2>
    <ul>
        <% if (products.length > 0) 
        { %>
            <% products.forEach(product => 
            { %>
                <li><%= product.name %> - $<%= product.price %></li>
            <% }) %>
        <% } 
        
        else 
        { %>
            <li>No products found</li>
        <% } %>

    </ul>
</main>

<%- include('partials/footer') %>
